CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/bin
/terser/doxygen
CMakeLists.txt.user
Makefile
build-monseri-Clang-*
